.header {
background-color: #7FFFD4;
width: 100%;
display: flex;
flex-direction: column;
}

.header__menu {
background-color: Gray;
height: 30px;
width: 100%;
display: flex;
}

.header__gl {
background-image: url('fon.jpg');
background-size: cover;
height: 800px;
width: 100%;
}

.knopka__katalog {
background: none;
border: none;
cursor: pointer;
}

.header__logoname {
display: flex;
align-items: center;
justify-content: center;
}
.header__menu button {
	background: none;
	border: none;
	cursor: pointer;
	flex: 1;
}