.header {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header__gl {
	background-image: url('fon.jpg');
	background-size: cover;
	height: 800px;
	width: 100%;
}

.knopka__katalog {
	background: #556B2F;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: transform 0.2s;
	width: 300px;
	height: 30px;
	margin: 4% -7%;
}

.knopka__katalog:hover {
	transform: scale(1.1);
}


.header__logoname {
	text-align: left;
}
.header__menu {
	background-color: Gray;
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.header__menu button {
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}
.text_big{
	margin: 5% 15%;
}
.text__podbig{
	margin: 5% 15%;
}
.heade__name{

}
.header__logo{
	text-align: center;
}
.bodys{
	width: 100%;
	background-color: white;
}
.text_bigbody{
	text-align: center;
	padding-top: 40px;
}
.text__podbody{
	text-align: center;
	font-size: 20px;
}
.sidebar {
	width: 18%; 
	float: left; 
	background-color: #D3D3D3; 
	padding: 25px; 
	margin: 20px 5%;
	height: 300px;
}

.button {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	width: 90%;
	padding: 13px;
	margin-bottom: 10px;
	text-align: left;
	color: black; 
	text-decoration: none;
}
.product {
	width: 18%;
	float: left;
	padding: 20px;
}

.product img {
	width: 100%;
	height: auto;
}

.product-info {
	text-align: left;
}

.product-button {
	display: block;
	width: 25%;
	padding: 10px;
	background-color: #808080;
	color: white;
	text-decoration: none;
}
